In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.patches import Rectangle
import matplotlib.cm as cm

%matplotlib notebook
plt.style.use('seaborn-white')

In [2]:
df = pd.read_csv("london-street.csv")
df.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,324a40f7da5f81b2f6c96bc6fe3e300173782e3342f409...,2014-06,City of London Police,City of London Police,-0.113767,51.517372,On or near Stone Buildings,E01000914,Camden 028B,Vehicle crime,Investigation complete; no suspect identified,NaN
1,62dde92ceeb12755a8a95a2829048ce4796ba3cfb3f7c0...,2014-06,City of London Police,City of London Police,-0.111497,51.518226,On or near Pedestrian Subway,E01000914,Camden 028B,Violence and sexual offences,Unable to prosecute suspect,NaN
2,NaN,2014-06,City of London Police,City of London Police,-0.097601,51.520699,On or near Carthusian Street,E01000001,City of London 001A,Anti-social behaviour,NaN,NaN
3,NaN,2014-06,City of London Police,City of London Police,-0.097601,51.520699,On or near Carthusian Street,E01000001,City of London 001A,Anti-social behaviour,NaN,NaN
4,NaN,2014-06,City of London Police,City of London Police,-0.097601,51.520699,On or near Carthusian Street,E01000001,City of London 001A,Anti-social behaviour,NaN,NaN

In [3]:
len(df)

2946479

In [4]:
df.isnull().sum()

Crime ID                  708264
Month                          0
Reported by                    0
Falls within                   0
Longitude                  34678
Latitude                   34678
Location                       0
LSOA code                  34678
LSOA name                  34678
Crime type                     0
Last outcome category     708264
Context                  2946479
dtype: int64

In [5]:
df.drop(['Crime ID', 'Context'], axis=1, inplace=True) # removing mostly-emplty columns
df.dropna(inplace=True)

In [6]:
df.isnull().sum()

Month                    0
Reported by              0
Falls within             0
Longitude                0
Latitude                 0
Location                 0
LSOA code                0
LSOA name                0
Crime type               0
Last outcome category    0
dtype: int64

In [7]:
# Add year to the data and filter by year . 
df['Year'] = df['Month'].apply(lambda x: x.split('-')[0].strip())
df = df.loc[df['Year'] == '2016']

In [8]:
df.head()

,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Year
10070,2016-01,City of London Police,City of London Police,-0.113767,51.517372,On or near Stone Buildings,E01000914,Camden 028B,Other theft,Investigation complete; no suspect identified,2016
10075,2016-01,City of London Police,City of London Police,-0.098572,51.516767,On or near King Edward Street,E01000001,City of London 001A,Bicycle theft,Investigation complete; no suspect identified,2016
10076,2016-01,City of London Police,City of London Police,-0.097601,51.520699,On or near Carthusian Street,E01000001,City of London 001A,Bicycle theft,Investigation complete; no suspect identified,2016
10077,2016-01,City of London Police,City of London Police,-0.098572,51.516767,On or near King Edward Street,E01000001,City of London 001A,Bicycle theft,Investigation complete; no suspect identified,2016
10078,2016-01,City of London Police,City of London Police,-0.097334,51.521567,On or near Fann Street,E01000001,City of London 001A,Burglary,Investigation complete; no suspect identified,2016

In [25]:
len(df["LSOA name"].unique())

5946

In [53]:
len(df)

749702

In [54]:
# Preparing the data:

# Grouping data by location (LSOA code) and by time. A single data point
# correstonds to all crimes of a given type commited in one LSOA in one month,
# e.g all bicycle thefts in LSOA E01000001 in Jun 2016.

df1 = pd.crosstab([df['LSOA code'], df['Month']], 
                  df['Crime type']) # creates a column for each crime type
df1.drop('Other crime', axis=1, inplace=True)
df1.reset_index(inplace=True)
df1.columns.name = None # simplifies plot labelling
df1.head()

,LSOA code,Month,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other theft,Possession of weapons,Public order,Robbery,Shoplifting,Theft from the person,Vehicle crime,Violence and sexual offences
0,E01000001,2016-01,3,1,0,1,7,0,0,0,1,1,0,1
1,E01000001,2016-02,1,0,1,0,8,0,0,0,0,2,0,1
2,E01000001,2016-03,2,0,1,0,6,0,0,0,1,2,0,2
3,E01000001,2016-04,4,1,0,0,3,0,0,0,2,2,0,0
4,E01000001,2016-05,2,1,0,1,3,0,1,0,3,2,2,1

In [55]:
# len(df["LSOA code"].unique())

In [56]:
df1.drop("Month", axis=1, inplace=True)

In [57]:
df1.head()

,LSOA code,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other theft,Possession of weapons,Public order,Robbery,Shoplifting,Theft from the person,Vehicle crime,Violence and sexual offences
0,E01000001,3,1,0,1,7,0,0,0,1,1,0,1
1,E01000001,1,0,1,0,8,0,0,0,0,2,0,1
2,E01000001,2,0,1,0,6,0,0,0,1,2,0,2
3,E01000001,4,1,0,0,3,0,0,0,2,2,0,0
4,E01000001,2,1,0,1,3,0,1,0,3,2,2,1

In [58]:
len(df1)

58894

In [59]:
df1 = df1.groupby("LSOA code").sum()

In [83]:
df1.head()

,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other theft,Possession of weapons,Public order,Robbery,Shoplifting,Theft from the person,Vehicle crime,Violence and sexual offences,LSOA code
LSOA code,,,,,,,,,,,,,
E01000001,37,8,5,7,81,1,4,1,16,25,22,16,E01000001
E01000002,26,7,10,9,50,0,10,0,10,24,3,25,E01000002
E01000003,4,0,4,3,2,1,1,0,0,11,0,11,E01000003
E01000005,17,33,23,37,96,4,24,3,4,28,20,98,E01000005
E01000006,0,5,7,1,6,0,3,3,0,3,9,25,E01000006

In [84]:
df1.tail()

,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other theft,Possession of weapons,Public order,Robbery,Shoplifting,Theft from the person,Vehicle crime,Violence and sexual offences,LSOA code
LSOA code,,,,,,,,,,,,,
W01001730,0,0,0,0,0,0,0,0,0,0,0,1,W01001730
W01001768,0,0,0,0,0,0,0,0,0,0,1,0,W01001768
W01001816,0,0,0,0,1,0,0,0,0,0,0,0,W01001816
W01001825,0,0,0,0,0,0,1,0,0,0,0,0,W01001825
W01001855,0,0,0,0,0,0,1,0,0,0,0,0,W01001855

In [85]:
type(df1)

pandas.core.frame.DataFrame

In [86]:
df1["LSOA code"] = df1.index

In [87]:
len(df1)

5946

In [88]:
df1["LSOA code"].is_unique

True

In [89]:
len(df["LSOA code"].unique())

5946

In [90]:
def add_borough(lsoa):
    df_temp = df[df["LSOA code"] == lsoa]
    name = df_temp["LSOA name"].loc[0]
    # long = df_temp["Longitude"]
    # lat =  df_temp["Latitude"]
    return name

In [91]:
df.columns

Index(['Month', 'Reported by', 'Falls within', 'Longitude', 'Latitude',
       'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category', 'Year'],
      dtype='object')

In [92]:
df_location_data = df[[ "LSOA code", 'LSOA name' ]]

In [93]:
len(df_location_data["LSOA code"].unique())

5946

In [94]:
def clean_location(borough: str):
    a = borough.rsplit(' ', 1)[0]
    return a

In [95]:
df_location_data["LSOA name"] = df_location_data["LSOA name"].apply(clean_location)

C:\Users\HP\AppData\Local\Temp\ipykernel_21292\1039079405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_location_data["LSOA name"] = df_location_data["LSOA name"].apply(clean_location)

In [96]:
len(df_location_data)

749702

In [97]:
len(df_location_data["LSOA code"].unique())

5946

In [100]:
df_location_data = df_location_data.drop_duplicates(subset=["LSOA code"])

In [101]:
# join both dataframe based on a particular column 
len(df_location_data)

5946

In [103]:
df_location_data["LSOA name"].unique()

array(['Camden', 'City of London', 'Hackney', 'Islington',
       'Tower Hamlets', 'Westminster', 'Southwark', 'Aylesbury Vale',
       'Barking and Dagenham', 'Barnet', 'Bassetlaw', 'Bedford', 'Bexley',
       'Bradford', 'Brent', 'Brentwood', 'Bromley',
       'Central Bedfordshire', 'Chesterfield', 'Corby', 'Crawley',
       'Croydon', 'Dacorum', 'Darlington', 'Dartford', 'Dover', 'Ealing',
       'East Riding of Yorkshire', 'Elmbridge', 'Enfield',
       'Epping Forest', 'Epsom and Ewell', 'Fareham', 'Gravesham',
       'Greenwich', 'Hammersmith and Fulham', 'Harborough', 'Haringey',
       'Harrow', 'Hastings', 'Havering', 'Hertsmere', 'Hillingdon',
       'Hounslow', 'Huntingdonshire', 'Kensington and Chelsea',
       'Kingston upon Hull', 'Kingston upon Thames', 'Lambeth',
       'Lewisham', 'Liverpool', 'Manchester', 'Medway', 'Mendip',
       'Merthyr Tydfil', 'Merton', 'Newcastle upon Tyne', 'Newham',
       'Northampton', 'North East Lincolnshire', 'Preston', 'Redbridge',
       'Reigate and Banstead', 'Richmond upon Thames', 'Sandwell',
       'Sheffield', 'Spelthorne', 'St Albans', 'St Edmundsbury',
       'Suffolk Coastal', 'Sutton', 'Swansea', 'Tandridge',
       'Three Rivers', 'Thurrock', 'Waltham Forest', 'Wandsworth',
       'Welwyn Hatfield', 'Weymouth and Portland', 'Winchester',
       'Birmingham', 'Bournemouth', 'Bracknell Forest', 'Braintree',
       'Brighton and Hove', 'Broadland', 'Broxbourne', 'Bury',
       'Calderdale', 'Chelmsford', 'Chichester', 'Cornwall',
       'East Hertfordshire', 'Exeter', 'Gedling', 'Gloucester',
       'Kirklees', 'Leeds', 'Milton Keynes', 'Norwich', 'Sevenoaks',
       'Slough', 'Southampton', 'Southend-on-Sea', 'Uttlesford',
       'Wakefield', 'West Oxfordshire', 'Basildon', 'Burnley',
       'Cambridge', 'Colchester', 'Copeland', 'Doncaster', 'Forest Heath',
       'Harlow', 'Hart', 'Luton', 'Mid Devon', 'Mole Valley',
       'North Hertfordshire', 'Runnymede', 'South Bucks', 'St. Helens',
       'Stoke-on-Trent', 'Swale', 'Taunton Deane', 'Watford', 'Waveney',
       'Windsor and Maidenhead', 'Ashford', 'Bristol', 'Cardiff',
       'Cherwell', 'Eastbourne', 'Isle of Wight', 'Maidstone', 'Pendle',
       'Peterborough', 'Reading', 'Redditch', 'Rother', 'Sedgemoor',
       'Sefton', 'South Kesteven', 'Stevenage', 'Tendring', 'Thanet',
       'Tonbridge and Malling', 'West Berkshire', 'West Lancashire',
       'Wirral', 'Woking', 'Wokingham', 'Wolverhampton', 'Worthing',
       'Wychavon', 'Canterbury', 'Cheltenham',
       'Cheshire West and Chester', 'Chiltern', 'County Durham',
       'Coventry', 'Fylde', 'Gateshead', 'Herefordshire', 'Leicester',
       'New Forest', 'North Kesteven', 'North West Leicestershire',
       'Oxford', 'Rochford', 'Sunderland', 'Adur', 'Arun', 'Blaby',
       'Blackpool', 'Breckland', 'Carmarthenshire', 'Cheshire East',
       'Cotswold', 'Derby', 'Derbyshire Dales', 'East Devon',
       'East Dorset', 'East Northamptonshire', 'Erewash', 'Hartlepool',
       'Horsham', 'Lichfield', 'Maldon', 'Newark and Sherwood',
       'Northumberland', 'Oldham', 'Poole', 'Portsmouth', 'Rugby',
       'Shropshire', 'South Cambridgeshire', 'South Norfolk',
       'Surrey Heath', 'Tunbridge Wells', 'Waverley', 'Wigan',
       'Worcester', 'Wycombe', 'York', 'Christchurch', 'East Lindsey',
       'Guildford', 'North Norfolk', 'North Tyneside', 'Nottingham',
       'Richmondshire', 'Salford', 'Shepway', 'Swindon',
       'Vale of White Horse', 'Wealden', 'East Hampshire', 'Gosport',
       'Ipswich', 'Kettering', 'Malvern Hills', 'Mid Suffolk',
       'Mid Sussex', 'Pembrokeshire', 'Powys', 'Rushmoor', 'Rutland',
       'South Oxfordshire', 'South Somerset', 'Stratford-on-Avon',
       'Test Valley', 'Torbay', 'Warrington', 'West Lindsey', 'Babergh',
       'Bridgend', 'Daventry', 'East Staffordshire', 'Flintshire',
       'Lancaster', 'South Staffordshire', 'Teignbridge',
       'Basingstoke and Deane', 'Bolton', 'High Peak', 'Isle of Anglesey',
       'Nuneaton and Bedworth', 'Tamworth', 'Hinckley and Bosworth',
       'Neath Port Talbot', 'South Gloucestershire', 'South Holland',
       'Stafford', 'Stockport', 'Tameside', 'Tewkesbury', 'Trafford',
       'Barnsley', 'Castle Point', 'East Cambridgeshire', 'Knowsley',
       'North Warwickshire', 'Solihull', 'South Derbyshire'], dtype=object)